@import './variable.css';
@import './reset.css';


/***************************
***  Header Start Here  ****
****************************/
.header {
    background-image: linear-gradient(89.99deg, rgba(133, 157, 189, 0.1725) 0.01%, rgba(133, 157, 189, 0.0425) 11.69%, rgba(133, 157, 189, 0.0475) 32.24%, rgba(133, 157, 189, 0.065) 75.04%, rgba(133, 157, 189, 0.25) 99.99%);
    background-color: var(--color-blue-2);
    color: var(--color-white);
    padding: 24px 0;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0px;
    width: 100%;
}

.header-container {
    padding: 0 50px;
}


.header-area {
    /* width: 1138px;
    margin: 0 auto; */
    /* gap: 384px; */
}

.header-left {
    padding-left: 0;
}

.header-area .header-right ul {
    width: 437px;
}

.header-area .header-right a {
    font-weight: var(--fw-600);
}

.head {
    width: 810px;
    margin: 0 auto;
    padding: 20px;
}


/***************************
***  Banner Start Here  ****
****************************/
.banner {
    background-image: url('../image/banner-bg.jpg');
    width: 100%;
    height: calc(854px - 86px);
    position: relative;
    margin-top: 87px;
}

.banner::after {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(230.77deg, rgba(48, 0, 101, 0.72) -43.38%, rgba(52, 87, 213, 0.72) 43.11%, rgba(52, 87, 213, 0.72) 129.61%);
    z-index: 2;
}

.banner-area {
    position: relative;
    z-index: 4;
}



/* ______  Banner Left ______ */
.banner .banner-left {
    max-width: 573px;
    padding-top: 105px;
}

.banner .banner-left .top {
    color: var(--color-green);
    text-transform: uppercase;
    font-size: var(--fs-xs);
    font-family: var(----font-poppins);
    letter-spacing: 1.5px;
    line-height: 21px;
}

.banner .top .border {
    height: 1px;
    width: 73px;
    background-color: var(--color-green);
    margin-right: 16px;
}

.banner h1 {
    margin: 24px 0 17px 0;
    padding-right: 50px;
}

.banner .desc {
    color: var(--color-white);
    line-height: 30px;
    font-size: var(--fs-lg);
    padding-right: 50px;
}


/* Search */
.banner-left .search,
.subsribe .search {
    margin-top: 33px;
    height: 65px;
    max-width: 382px;
    background-color: var(--color-white);
    border-radius: 12px;
    overflow: hidden;
}

.search .btn img,
.subsribe .search img {
    object-fit: none;
    width: auto;
}

.banner-left .search input,
.subsribe .search input {
    padding-left: 15px;
    font-size: var(--fs-sm);
}

.banner-left .search input::placeholder {
    color: var(--color-purple);
}

.banner-left .search .btn,
.subsribe .search .btn {
    background-color: var(--color-green-light);
    height: 65px;
    width: 51px;
    color: var(--color-white);
}



/* ______  Banner Right ______ */
.banner-right img {
    width: 740px;
    height: 490px;
    margin-top: 42px;
}





/* ______ Ranking ______ */
.ranking {
    margin-top: 44px;
}

.ranking i {
    margin-left: -3px;
    font-size: var(--fs-xl);
    color: var(--color-orange);
}

.ranking .text {
    margin-top: 19px;
    color: var(--color-white);
    font-weight: var(--fw-700);
    line-height: 18px;
}


/* _________ Brand ________ */
.brand {
    margin-top: -60px;
    background-color: var(--color-navy);
    z-index: 5;
    position: relative;
    padding: 29px 0;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.brand-container {
    margin: 0 auto;
    width: 1080px;
}

.brand img {
    width: 115px;
}





/**************************
***  Top 3 Start Here  ****
***************************/
.top-3-area {
    width: 908px;
    margin: 0 auto;
}

.top-3 .items {
    margin-top: 36px;
    gap: 100px;
}



.top-3-area .item {
    border: 1px solid var(--color-blue);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    padding: 34px 16px;
    max-width: 236px;
}

.top-3-area .item img {
    width: 48px;
}

.top-3-area .item .title {
    color: var(--color-blue);
}

.top-3-area .item p {
    line-height: 27px;
    text-align: center;
}








/*********************************
***  packages area Start Here  ****
***********************************/
.packages-area {
    background-color: var(--packages-bg);
    padding: 70px 0;
}


.packages-area .head {
    width: fit-content;
}

.packages-area .wrapper {
    width: 704px;
    margin: 0 auto;
}

.packages-items {
    gap: 60px;
}

.packages-items .item {
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 32px 24px;
}

.packages-items .btn {
    padding: 12px;
    background-color: var(--color-gray);
    font-weight: var(--fw-800);
}








/*********************************
***  testimonial area Start Here  ****
***********************************/
.testimonial {
    margin-top: -90px;
}

.testimonial-area {
    background-color: var(--testimonial-bg);
    padding: 62px 20px;
    color: var(--color-white);
}


.swiper {
    width: 100%;
    height: 100%;
}

.swipe-wrapper {
    display: flex;

}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.testimonial .head {
    width: 900px;
}

.testimonial .video-item {
    position: relative;
    transition: .3s linear;
    overflow: hidden;
}

.testimonial .video-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.testimonial .video-item .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--color-white);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: var(--fs-xl);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 3;
}

.testimonial .video-item:hover i {
    color: var(--color-orange);
}

.video-item img {
    transition: .2s linear;
    overflow: hidden;
    width: 100%;
}

.testimonial .video-item:hover img {
    transition: .2s linear;
    transform: scale(1.1);
    cursor: pointer;
}



/*________ text-reviews _______ */
.text-reviews {
    gap: 100px;
    padding: 0 20px;
}

.text-reviews .item {}

.text-reviews .item p {
    color: var(--color-white);
    font-size: var(--fs-xs)+1;
}

.text-reviews .star span {
    margin-left: -8px;
}







/*********************************
***  Progress area Start Here  ****
***********************************/
.progress .items {
    justify-content: space-between;
}

.progress .item {
    border: 2px solid #DBDBDB;
    padding: 27px 30px;
    border-radius: 8px;
    transition: .2s ease-in-out;
    min-width: 300px;
    text-align: center;
}

.progress .item:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}


/* blog */
.blog {
    gap: 40px;
}

.blog img {
    width: 470px;
}






.summer-area {
    background-color: var(--summer-bg);
    padding: 31px 40px;
}


.summer-area .center {
    background-color: var(--color-white);
    width: 132px;
    height: 132px;
    border-radius: 50%;
    text-align: center;
}

.summer-area .center .star {
    display: block;
    text-align: center;
    margin-left: 8px;
}

.summer-area .center .star i {
    margin-left: -9px;
    color: var(--color-orange);
}

.summer-area .center .text {
    font-weight: 500;
    margin-top: -4px;
}






/* Progress */
.progress-items .item {
    border-radius: 6px;
    width: 144px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.progress-items img {
    width: 100%;
    height: 65px;
}

.progress-items .title {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    padding: 14px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue);
    text-align: center;
    height: 70px;
}






.map-area .section-title {
    width: 510px;
}


/* top */
.map-area .top {
    background-color: var(--color-blue);
    padding: 51px 27px;
}

.map-area .top .item {
    background-color: var(--color-white);
    padding: 27px 32px;
    padding-right: 39px;
    border-radius: 20px;
    box-shadow: 0px 6px 20px 0px #FFFFFF80;
}


/* bottom */
.map-area .bottom {
    background-color: var(--color-gray-off);
    padding: 51px;
}

.bottom .section-title {
    width: 100%;
    font-weight: var(--fw-400);
    padding: 0 70px;
}







.faq .faq-item {
    border: 1px solid #E4E1E1;
    padding: 15px 20px;
    border-radius: 8px;
    color: var(--color-black);
    cursor: pointer;
    user-select: none;
}

.faq-item p {
    color: var(--color-black);
}

.faq-item .ans {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .3s linear;
    opacity: 0;
}


.faq-item .icon {
    transition: .2s linear;
    font-size: var(--fs-lg);
}



/* active class */
.faq-item.active .question-text {
    color: var(--color-blue);
    font-weight: var(--fw-700);
}

.faq-item .ans.active {
    max-height: 300px;
    transition: .3s linear;
    overflow: auto;
    visibility: visible;
    opacity: 1;
}

.faq-item .icon.rotate i {
    transition: .2s linear;
}

.faq-item .icon.rotate {
    transform: rotate(180deg);
    transition: .2s linear;
}







/*  */
.footer {
    background-color: var(--color-blue);
    padding-top: 33px;
    padding-bottom: 54px;
}

.footer-area {
    gap: 106px;
    align-items: flex-start;
}

.footer-area .left {
    width: 400px;
}

.footer-area .right {
    flex-grow: 1;
    gap: 68px;
    padding-top: 100px;
    align-items: flex-start;
}

.footer-area .nav {
    align-items: flex-start;
    gap: 147px;
    width: fit-content;
    text-wrap: nowrap;
}

.footer-area .nav a {
    color: var(--color-white);
}

.footer-area .nav .nav-item {
    /* width: 200px; */
}



/* subsribe */
.footer-area .subsribe {
    width: 291px;
}

.subsribe .search {
    border-radius: 0;
    height: 37px;
}

.subsribe .search .btn {
    background-color: var(--color-black);
    width: 44px;
    padding: 0;
}

.subsribe .search .btn img {
    font-size: 11px;
}

.subsribe .search input::placeholder {
    color: #D9D9D9;
}



/* social */
.footer-area .social {
    margin-top: 106px;

}

.footer-area .social i {
    color: var(--color-white);
}



/*_________  footer-bottom  _________ */
.footer-bottom {
    margin-top: 64px;
    background-color: var(--color-white);
}

.footer-bottom .copy-right {
    font-weight: var(--fw-400);
    color: var(--color-dark);
    font-size: var(--fs-sm);
    font-family: "Inter", sans-serif;
}