/* Font Cnd */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Remix Icons */
@import url('https://unpkg.com/remixicon@2.5.0/fonts/remixicon.css');

:root {
    /*______  Color  ______ */
    --color-white: #fff;
    --color-white-off: #EBEFFF;
    --color-white-dark: #C3CEFA;
    --color-green: #FFC17A;
    --color-green-light: #12C459;
    --color-orange: #FFD600;
    --color-navy: #081225;
    --color-black: #000;
    --color-black-light: #131313;
    --color-dark: #1F1F1F;
    --color-dark-2: #1D2127;
    --color-purple: #311E47;
    --color-blue: #3457D5;
    --color-blue-2: #3F60D7;
    --color-gray: #2C2E39;
    --border-color: #DBDBDB;
    --placeholder-color: #D9D9D9;



    /*_________  Section Background Color _________ */
    --body-bg: var(--color-white);
    --header-bg: var(--color-blue);


    /*______  Font Size  ______ */
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 34px;
    --fs-xxl: 36px;
    --fs-xxxl: 50px;

    /*______  Font Weight  ______ */
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;


    --font-dm-sans: "DM Sans", system-ui;
    --font-poppins: "Poppins", sans-serif;

}